

  <div class="title">
    <h1>Find your Critic!</h1>
    <h3>Search for likeminded-movie-watchers</h3>
  </div>




    <div class="search-form">

      <form action="/" method="post"> 
       Enter a Title: 
       <input type="text" name="titleName" placeholder="..." /> 
       <br>
       <button type="submit">Submit</button> 
       <input type="radio" name="review" value="fresh" checked>Fresh
       <input type="radio" name="review" value="rotten">Rotten
     </form>

   </div>



  <div class="search-table">

    <table class="table">
      <thead>
        <tr class="column-titles">
          <td>First Name</td>
          <td>Last Name</td>
          <td>Review</td>
          <td>Images</td>
        </tr>
      </thead>
      <tbody>
        {{#each reviews}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.publication}}</td>
          <td>{{this.fresh}}</td>
          <td><img src='{{this.image}}'></td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    {{#unless reviews}}
    <small>No Data Passed</small>
    {{/unless}}

  </div>

   <div class="prev-searches">
    Most Recent Searches:
    <ol>
      {{#each prevSearch}}
      <li>{{this.title}} + {{this.review}}</li>
      {{/each}}
    </ol>
    {{#unless prevSearch}}
    <small>No Prior Searches</small>
    {{/unless}}
  </div>




